venv
.idea
idea
*.egg-info/
.installed.cjg
*.egg

dist
db.sqlite3

remember/*

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media

museum_proj/local_settings.py

#**/migrations/**
#!**/migrations
#!**/migrations/__init__.py
#*backend/*/migrations/*
#!*backend/*/migrations
#!*backend/*/migrations/__init__.py

assets/*
